{
  "printWidth": 80,             // Ограничение строки до 80 символов для улучшения читаемости
  "tabWidth": 2,                // Использование 2 пробелов вместо табуляций
  "useTabs": false,             // Использование пробелов вместо табов
  "semi": true,                 // Всегда ставить точку с запятой
  "singleQuote": true,          // Использование одинарных кавычек для строк
  "trailingComma": "es5",       // Оставлять запятые в последней строке для объектов, массивов и параметров функций
  "bracketSpacing": true,       // Добавлять пробелы внутри фигурных скобок: { foo: bar }
  "jsxBracketSameLine": false,  // Закрывающий JSX-тег переносится на новую строку
  "arrowParens": "always",      // Всегда использовать скобки для аргументов в стрелочных функциях
  "endOfLine": "lf",            // Использовать 'lf' как символ конца строки (важно для совместимости с разными ОС)
  "jsxSingleQuote": false,      // Использовать двойные кавычки для JSX
  "quoteProps": "consistent",   // Если в объекте одна строка с кавычками в ключе, то ко всем ключам будут добавлены кавычки
  "proseWrap": "preserve",      // Не ломать строки в markdown файлах автоматически
  "embeddedLanguageFormatting": "auto" // Автоматическое форматирование встраиваемых языков
}